# Docker Compose for Apache HTTP Server

services:
  apache:
    image: httpd:2.4-alpine
    container_name: apache-httpd
    hostname: apache-httpd
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./htdocs:/usr/local/apache2/htdocs
      - ./conf/httpd:/usr/local/apache2/conf/extra:ro
      - apache-logs:/usr/local/apache2/logs
    restart: unless-stopped

  # Apache with SSL enabled
  apache-ssl:
    image: httpd:2.4-alpine
    container_name: apache-ssl
    hostname: apache-ssl
    ports:
      - "8080:80"
      - "8443:443"
    volumes:
      - ./htdocs-ssl:/usr/local/apache2/htdocs
      - ./conf/ssl:/usr/local/apache2/conf/ssl:ro
      - apache-ssl-logs:/usr/local/apache2/logs
    command: >
      sh -c "
        sed -i 's/#LoadModule ssl_module/LoadModule ssl_module/' /usr/local/apache2/conf/httpd.conf
        && sed -i 's/#LoadModule socache_shmcb_module/LoadModule socache_shmcb_module/' /usr/local/apache2/conf/httpd.conf
        && sed -i 's/#Include conf\\/extra\\/httpd-ssl.conf/Include conf\\/extra\\/httpd-ssl.conf/' /usr/local/apache2/conf/httpd.conf
        && httpd-foreground
      "
    restart: unless-stopped

  # Apache as reverse proxy
  apache-proxy:
    image: httpd:2.4-alpine
    container_name: apache-proxy
    hostname: apache-proxy
    ports:
      - "8081:80"
    volumes:
      - ./conf/proxy:/usr/local/apache2/conf/extra:ro
      - apache-proxy-logs:/usr/local/apache2/logs
    command: >
      sh -c "
        sed -i 's/#LoadModule proxy_module/LoadModule proxy_module/' /usr/local/apache2/conf/httpd.conf
        && sed -i 's/#LoadModule proxy_http_module/LoadModule proxy_http_module/' /usr/local/apache2/conf/httpd.conf
        && httpd-foreground
      "
    restart: unless-stopped

volumes:
  apache-logs:
  apache-ssl-logs:
  apache-proxy-logs:
