# Docker Compose for Apache HTTPD + Tomcat Hybrid Environment
# Apache as reverse proxy with load balancing for Tomcat

services:
  apache:
    image: httpd:2.4-alpine
    container_name: httpd-tomcat-proxy
    hostname: apache
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./conf/httpd-tomcat.conf:/usr/local/apache2/conf/extra/httpd-vhosts.conf:ro
      - ./htdocs:/usr/local/apache2/htdocs
      - apache-logs:/usr/local/apache2/logs
    depends_on:
      - tomcat
    command: >
      sh -c "
        sed -i 's/#LoadModule proxy_module/LoadModule proxy_module/' /usr/local/apache2/conf/httpd.conf
        && sed -i 's/#LoadModule proxy_http_module/LoadModule proxy_http_module/' /usr/local/apache2/conf/httpd.conf
        && sed -i 's/#LoadModule proxy_ajp_module/LoadModule proxy_ajp_module/' /usr/local/apache2/conf/httpd.conf
        && sed -i 's/#Include conf\\/extra\\/httpd-vhosts.conf/Include conf\\/extra\\/httpd-vhosts.conf/' /usr/local/apache2/conf/httpd.conf
        && httpd-foreground
      "
    restart: unless-stopped

  tomcat:
    image: tomcat:10.1-jdk17
    container_name: tomcat-backend
    hostname: tomcat
    ports:
      - "8080:8080"   # Direct access for management
    environment:
      - CATALINA_OPTS=-Xms512m -Xmx1024m
    volumes:
      - ./webapps:/usr/local/tomcat/webapps
      - tomcat-logs:/usr/local/tomcat/logs
    restart: unless-stopped

volumes:
  apache-logs:
  tomcat-logs:

# Create conf/httpd-tomcat.conf with:
# <VirtualHost *:80>
#     ProxyPreserveHost On
#     ProxyPass / http://tomcat:8080/
#     ProxyPassReverse / http://tomcat:8080/
#     RequestHeader set X-Forwarded-Proto "http"
# </VirtualHost>
#
# Usage:
# 1. Create the config directory: mkdir -p conf
# 2. Create httpd-tomcat.conf with proxy settings
# 3. Start: docker compose -f docker-compose.httpd-tomcat.yml up -d
# 4. Access via Apache: http://localhost
# 5. Direct Tomcat: http://localhost:8080
